<div class="sidebar">
    <img src="assets/slike/cudoviste-malo1.png" alt="slika">
    <div style="text-align: center;font-family: 'Leckerli One', cursive;font-size: large;">Dobrodosli na Stevin Redit! Uzivajte!</div>
    <div style="text-align: center">
        <button  class="btnCreatePost" (click)="dodajObjavu()">Dodaj objavu</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubreddit" (click)="dodajZajednicu()">Napravi zajednicu</button>
    </div>
</div>