<div class="container">
    <div class="row" id="redNaslova">
        <div class="col col-lg-4 col-md-6">
            <div id="krug">
                <img src="assets/slike/cudovistesredjeno.png">
            </div>
        </div>
        <div class="col col-lg-8 col-md-6" id="naslov">
           Izmena Objave
        </div>
    </div>
    <form [formGroup]="izmeniObjavuForma" (ngSubmit)="izmeniObjavu()">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Naslov objave</label>
                    </div>
                    <div class="col">
                        <input type="text" [formControlName]="'naslovObjave'" value="{{mojaObjava.naslovObjave}}" /><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Tekst objave</label>
                    </div>
                    <div class="col">
                        <textarea [formControlName]="'tekstObjave'" value = "{{mojaObjava.tekstObjave}}"></textarea><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="redDugmeta">
            <button id="dugmeZaObjavu" type="submit">Izmeni</button>
        </div>
    </form>
    

</div>

