header{
    border-radius: 5%;
}

#logo{
    height: 90px;
    width: 90px;
}

#krug{
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px;
}

#naslov{
    color: white;
    font-family: 'Leckerli One', cursive;
    font-size: 60px;
    padding: 15px;
    position: relative;
    top: 20px;
    text-shadow: 0 0 4px #000000;
    
}


#profil{
    margin-right: 10px;
    margin-bottom: 5px;
}

svg{
    margin-bottom: 5px;
    margin-right: 10px;
}

button{
    margin-right: 20px;
    border-radius: 10%;
    background-color: white;
    color: rgb(86, 43, 202);
    width: 180px;
    font-size: larger;
    font-family: 'Leckerli One', cursive;
    border: 1px solid black;
    box-shadow: 4px 4px 8px black;
}
button:hover{
    background-color: rgb(86, 43, 202);
    color: white;
}

#nav{
    background-color: rgb(86, 43, 202);
}

