<div class="row" >
    <div class="col col-md-1 col-lg-1 col-xl-1"></div>
    <div class="col col-md-6 col-lg-6 col-xl-6">
        <div class="container" id="redpretrage">
            <form [formGroup]="pretraziForma"  (ngSubmit)="pretrazi()">
                <div class="row" >
                    <input type="text" id="pretraga" [formControlName]="'pojam'" placeholder="Unesite tekst za pretragu">
                    <select id="select" [formControlName]="'odabir'">
                        <option value="" disabled selected hidden>Pretraži po</option>
                        <option value="naslov">Naslov objave</option>
                        <option value="tekst">Tekst objave</option>
                        <option value="pdf">PDF objave</option>
                    </select>
                </div><br>
                <div class="row" >
                    <input type="submit" id="dugme" value="Pretraži">
                </div>
            </form>    
        </div>
        <app-kartica-objave></app-kartica-objave>
    </div> 
    <div class="col col-md-5 col-lg-5 col-xl-5" id="side" style="position: relative;left: 130px;">
        <app-prozornapravi></app-prozornapravi>
        <app-prozorcezajednice></app-prozorcezajednice>
    </div>
</div>
<router-outlet></router-outlet>
